.sidebar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 7
    em);
}

.sidebar-container .navigation {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation .files {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.navigation .resources {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
